{% extends 'base.html' %}
{% block content%} <!--base.html 안에있는 block content 영역-->
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ posts.title }}</h5>
            <!--
                linebreaksbr: 줄바꿈을 <br>태그로 변환
                truncatechars: 뒤에 지정한 글자수만큼 표시 후 ...으로 줄임
            -->
            <p class="card-text">{{ posts.text|linebreaksbr}}</p>
            <div class="text-right">
                <span class="small">{{ posts.created_date }}</span>
            </div>
        </div>
    </div>
{% endblock %}