<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Post List</h1>
    <div><p>published:12.11.2019</p>
        <h2><a href=#>My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolorum odit provident quibusdam quisquam! Accusamus consequuntur corporis exercitationem nam nemo officiis quas, quidem recusandae, sapiente similique vero, voluptatem voluptates?</p>
    </div>
    <div><p>published:12.12.2019</p>
        <h2><a href=#>My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi asperiores aut deserunt dolore enim, excepturi facilis harum hic laudantium minima modi nam quis repudiandae sed sint tempora vel.</p>
    </div>
</body>
</html>